@page "/"
@rendermode InteractiveServer

@using BlazorToe.Models
@using BlazorToe.Components.Components
@using BlazorToe.Services

@implements IDisposable

@inject HttpClient Http
@inject PlayerState PlayerState

<PageTitle>Home</PageTitle>

<div class="mb-4">
    <p class="border-bottom-2 border-dark text-dark">
        You are: @(PrivateId.ToString())
    </p>
    <button class="btn btn-primary" @onclick="CreateNewGame">Create New Game</button>
</div>


<h3>Waiting Games (@WaitingGames.Count)</h3>

@if (WaitingGames.Any())
{
    @foreach (var game in WaitingGames)
    {
        <WaitingGame Game="game" OnJoinGame="JoinGame"/>
    }
}
else
{
    <p>There are no games :/</p>
}

<h3>Games in progress (@(ActiveGames.Count))</h3>

@if (ActiveGames.Any())
{
    @foreach (var game in ActiveGames)
    {
        <ActiveGame Game="game"/>
    }
}
else
{
    <p>There are no games :/</p>
}

@code
{
    private List<Game>? _games;
    private CancellationTokenSource? _cts;

    private IList<Game> WaitingGames => _games?.Where(g => g.Player2Id is null).ToList() ?? [];
    private IList<Game> ActiveGames => _games?.Where(g => g.Player2Id is not null).ToList() ?? [];
    private Guid PrivateId => PlayerState.PlayerId;

    async Task<bool> GetGames()
    {
        var countBefore = _games?.Count ?? 0;
        var countAfter = countBefore;
        try
        {
            _games = await Http.GetFromJsonAsync<List<Game>>("http://localhost:3000/games");

            if (_games is null)
            {
                Console.WriteLine($"Games from endpoint were null{PrivateId}!");
                return true;
            }
            
            countAfter = _games.Count;
            Console.WriteLine($"The request has run {PrivateId}!");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"{PrivateId} : {ex}");
        }

        return countAfter != countBefore;
    }

    async Task PollGames(CancellationToken token)
    {
        while (!token.IsCancellationRequested)
        {
            var shouldUpdate = await GetGames();

            if (shouldUpdate)
            {
                await InvokeAsync(StateHasChanged);
            }
            
            await Task.Delay(1000, token);
        }
    }

    protected override void OnInitialized()
    {
        _cts = new();

        Task.Run(async () =>
        {
            await PollGames(_cts.Token);
        });
    }

    void JoinGame(Guid gameId)
    {
        Console.WriteLine($"trying to join game {gameId} as {PrivateId}");
    }

    void CreateNewGame()
    {
        Console.WriteLine($"trying to create a new game as {PrivateId}");
    }

    public void Dispose()
    {
        _cts?.Cancel();
        _cts?.Dispose();
        
        Console.WriteLine($"Disposed {PrivateId}");
    }
}
