@page "/play/{GameId}"
@using BlazorToe.Models
@using BlazorToe.Utils
@using BlazorToe.Components.Components
@rendermode InteractiveServer

@implements IDisposable

@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h3>Playing game @GameId</h3>
<h4>Playing as @_privateId</h4>

@if (_game is not null)
{
    <div class="game-board">
        
    @for (int i = 0; i < 4; i++)
    {
        <div class="game-row">
        @for (int j = 0; j < 4; j++)
        {
            var id = j + (i * 4);
            <Cell 
                Id="@id"
                GameState="_game.PlayerMoves"
                OnClick="@(() => Console.WriteLine(id))"
                />
        }
        </div>
    }
    </div>
}
else
{
    <p>Welp</p>
}

@code {
    private Guid _privateId;
    private Game? _game;
    private CancellationTokenSource? _cts;
    
    [Parameter]
    public string GameId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await StatusGame();
        
        _cts = new();

        _ = Task.Run(async () =>
        {
            await PollGames(_cts.Token);
        });
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _privateId = await LocalStorage.GetPlayerId();
            StateHasChanged();
        }
    }
    
    async Task PollGames(CancellationToken token)
    {
        while (!token.IsCancellationRequested)
        {
            await StatusGame();
            await InvokeAsync(StateHasChanged);
            await Task.Delay(500, token);
        }
    }

    async Task StatusGame()
    {
        try
        {
            var requestUri = $"http://localhost:3000/games/{GameId}/status";
            _game = await Http.GetFromJsonAsync<Game>(requestUri);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"{_privateId} : {ex}");
        }
    }
    
    public void Dispose()
    {
        _cts?.Cancel();
        _cts?.Dispose();
        
        Console.WriteLine($"Disposed {_privateId}");
    }
}