<h1> Home </h1>

<button (click)="createGame()">
New Game
</button>

<section class="waiting-games">
<h3> Waiting Games </h3>
  <ul>
    @for (game of waiting_games; track $index) {
    <li>
      <p>
        <app-waiting-game-card [game]="game" [acceptGame]="makeAcceptGame(game)"></app-waiting-game-card>
      </p>
    </li>
    } @empty {
    <li aria-hidden="true"> There are no items. </li>
    }
  </ul>
</section>

<section class="active-games">
<h3> Active Games </h3>
  <ul>
    @for (game of active_games; track $index) {
    <li>
      <p>
        {{game.id}}
        <app-game-card [game]="game"></app-game-card>
      </p>
    </li>
    } @empty {
    <li aria-hidden="true"> There are no items. </li>
    }
  </ul>
</section>
