<h1> Home </h1>

<button (click)="createGame()">
Create
</button>

<section class="waiting-games">
<h2> Waiting Games </h2>
  @if (waiting_games.length > 0) {
  <ul>
    @for (game of waiting_games; track $index) {
    <li>
      <p>
        <app-waiting-game-card [game]="game" [acceptGame]="makeAcceptGame(game)"></app-waiting-game-card>
      </p>
    </li>
    }
  </ul>
  } @else {
    <p>
      Sorry, no games :(.
    </p>
  }
</section>

<section class="active-games">
<h2> Active Games </h2>
  @if (active_games.length > 0) {
  <ul>
    @for (game of active_games; track $index) {
    <li>
      <p>
        {{game.id}}
        <app-game-card [game]="game"></app-game-card>
      </p>
    </li>
    }
  </ul>
  } @else {
    <p>
      Sorry, no games :(.
    </p>
  }
</section>
