<h1> Home </h1>

<button (click)="createGame()">
Create
</button>

<section class="waiting-games">
<h2> Waiting Games </h2>
  <ul>
    @for (game of waiting_games; track $index) {
    <li>
      <app-waiting-game-card [game]="game" [acceptGame]="makeAcceptGame(game)"></app-waiting-game-card>
    </li>
    }
  </ul>
</section>

<section class="active-games">
<h2> Active Games </h2>
  <ul>
    @for (game of active_games; track $index) {
    <li>
      <div>
      <app-game-card [game]="game"></app-game-card>
      </div>
    </li>
    }
  </ul>
</section>
